h1{
    color: white;
    background-color: blue;
}
.wrapper__Uri{
  text-align: center;
  margin-top: 20%;
}
.Input__uri{
    width: 400px;
}

.navbar {
    background-color: aqua;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
    }
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.wrapper{

width: 12rem;
// height:auto;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px red;
justify-content: space-between;
border-radius: 15px;
margin: 10px;
}
.table{

}
.table_header{
text-align: center;
border: 2px solid rgb(0, 68, 255);
border-radius: 5px;

}
.table_fields{

}
.wrapper__visualizer{
    display:flex;
    width:auto;
    //height: auto;
    flex-wrap: wrap;
}

.sidebar {
    height: 100vh;
}

.sidebar-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    background: #333;
    &.open {
      -webkit-transform: translateX(300px);
      transform: translateX(300px);
    }
    .menu {
      > li {
        > a {
          padding: 15px 20px;
          color: #fff;
        }
      }
    }
  }