@import "./variables";
@import './navbar';
@import './sidebar';
@import './darkmode';
@import 'codemirror/lib/codemirror.css';

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
  background-color: $primary-light;
}

.wrapper__Uri {
  text-align: center;
  margin-top: 20%;
}

.Input__uri{
    width: 400px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin-top: 0;
  justify-content: space-between;
}

.VisualContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__visualizer{
  display:flex;
  width:auto;
  justify-content: center;
  height: 5rem;
  flex-wrap: wrap;
}

.wrapper{
  width: 16rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px lightgray;
  justify-content: space-between;
  border-radius: 15px;
  margin: 10px;
}

.table_header{
  text-align: center;
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
}

.table_fields{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.sidebar-list-title {
  list-style: none; 
  text-align: center;
  padding: 0;
  .sidebar-list-info {
    text-align: left;
    list-style: none;
    font-size: 1rem;
  }
}

.sidebar-menu {
  width: 25rem;
  text-align: center;
  height: 100%;
}

.sidebar-list {
  list-style: none;
}

.codeMirror {
  height: 100%;
  width: 100%;
}


