// this is for sidebar css
.sidebar-list {
  list-style: none;
}

.sidebar-list-title {
  list-style: none;
  text-align: center;
  padding: 0;
  justify-content: center;
  .sidebar-list-info {
    text-align: left;
    list-style: none;
    font-size: 1rem;
  }
}

.sidebar-menu {
  width: 40rem;
  text-align: center;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  overflow-x: scroll;
}
